// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "./partials/headernav";
@import "./partials/footernav";

@import "homeAdmin";

@import "./posts/index";
@import "./posts/show";
@import "./posts/create";

@import "./posts/tags";
/* @import "./posts/edit"; */

body {
    background-color: #e4eeff;
    font-family: "Roboto", sans-serif;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
}

li,
input,
.btn-main-s {
    cursor: pointer;
}

header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0px;
    width: 100%;
}
