/* End section */
.spam-cont {
    height: 80px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 10px 8px #111;

    /*     input {
        background-color: transparent;
        height: 50px;
        font-size: 16px;
        font-weight: 600;
        border: 2px solid rgb(95, 210, 214);
        color: white;
        padding: 0 20px;

        &:hover {
            background-color: rgb(95, 210, 214);
            color: rgb(32, 92, 255);
        }
    } */
}
