.my-posts-container {
    width: 1100px;
    height: 500px;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;

    background-color: white;
    -webkit-box-shadow: 5px 5px 10px 0px rgb(14, 126, 231);
    -moz-box-shadow: 5px 5px 10px 0px rgb(14, 126, 231);
    -o-box-shadow: 5px 5px 10px 0px rgb(14, 126, 231);
    box-shadow: 5px 5px 10px 0px rgb(14, 126, 231);

    .my-top-nav {
        margin: 10px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            color: rgb(14, 126, 231);
        }
    }

    .my-div {
        display: flex;
        justify-content: space-between;
        margin: 20px 30px 0px 30px;
    }

    .my-line {
        border-bottom: 1px solid rgb(14, 126, 231);
        margin: 5px 30px;
    }
}
